.slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.planets-headingone {
  color: #05acff;
  text-align: center;
  font-family: Roboto;
}
.unorderlist-one {
  list-style-type: None;
}
